.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  gap: 1rem;
}

.list a {
  text-decoration: none;
  color: var(--color-primary-400);
}

.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}

.list button {
  font: inherit;
  padding: 0 0.75rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--color-gray-100);
  background-color: var(--color-gray-600);
}

.list button:focus {
  outline: 0;
}

.list button:hover {
  background-color: var(--color-primary-300);
  color: var(--color-gray-800);
}